
.footer-flex {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 30px;
    justify-content: space-between;
    margin-top: 120px;
    border-top: 1px solid gray;
}

.footer-flex .logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.footer-flex .logo-footer img{
    max-width: 60px;
}

.footer-flex h3{
    color: white;
    font-size: 20px;
}


.footer-flex .line{
    height: 2px;
    width: 120px;
    margin-bottom: 10px;
    margin-top: -10px;
    background-color: gray;
}

.footer-flex .logo-footer a{
    color: white;
    font-size: 20px;

}