@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #111113;
    font-family: 'Poppins', sans-serif;
}

/* Body */
.flex-container-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0;
}

.left h2 {
    font-size: 28px;
    color: #862ACD;
    font-weight: 400;
}

.left h1 {
    margin-top: -28px;
    color: White;
    font-weight: 700;
    font-size: 42px;
    
}

.left p {
    margin-top: -26px;
    font-weight: 300;
    color:white;
    font-size: 18px;
    max-width: 800px;
    text-align: justify;
}

.right img{
    border-radius: 10px;
    width: 440px;
    height: auto;
    margin-top: 35px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }

}

@media only screen and (max-width: 1035px) {
    .flex-container-home{
        flex-flow: column;
    }

    .flex-container-home .left h1,
    .flex-container-home .left h2,
    .flex-container-home .left p{
        text-align: center;
    }
    .flex-container-home .btn-contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }

  }

  @media only screen and (max-width: 689px) {
    .flex-container-home .left h1{
        font-size: 35px;
    }
    .flex-container-home .left h2{
        font-size: 20px;
    }
    .flex-container-home .left p{
        font-size: 16px;
    }
    .flex-container-home .btn-contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }

  }

.tittle-section{
    padding: 130px 0 0;
}

.tittle-section h1 {
    color: #862ACD;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    font-size: 44px;
}

.tittle-section p {
    color: white;
    margin-top: -45px;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
}

.flex-proyects-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}

.box-proyects{
    width: 520px;
    height: 450px;
    margin: 25px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #EAEAEA;
    transition: transform 300ms ease;
}

.box-proyects img {
    width: 100%;
    margin-top: -2px;
    border-radius: 8px;    
}

.box-proyects h1 {
    font-size: 28px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.box-proyects h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: -20px;
    margin-left: 15px;
    margin-right: 15px;
}
.box-proyects p {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    margin-top: -5px;
    margin-left: 15px;
    margin-right: 15px;
}
.box-proyects h4 {
    text-align: center;
    margin-top: -15px;
    font-size: 20px;
}

.box-proyects:hover {
    transform: scale(1.1);
}

.flex-skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 40px;
}

.box-skills {
    width: 290px;
    height: 100px;
    background-color: #EAEAEA;
    margin: 15px; 
    margin-top: 25px;
    border-radius: 10px;
    transition: transform 300ms ease;
}

.box-skills img{
    width: 70px;
    height: auto;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 5px;
}

.text-box-skills{
    margin-top: -78px;
    margin-left: 50px;
}

.text-box-skills h1 {
    font-size: 25px;
    text-align: center;
}

.box-skills:hover {
    transform: scale(1.1);
}


.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me p{
    text-align: center;
    font-size: 20px;
    margin-top: -30px;
    color: white;
    max-width: 60%;
}

.about-me span{
    font-weight: 500;
    color: #772ACD;
}


.flex-container-contact{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.flex-container-contact h1{
    color: #772ACD;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}

.flex-container-contact p{
    color: white;
    font-size: 20px;
    margin-top: -45px;
    font-weight: 300;
    text-align: center;
}


.flex-container-contact form{
    display: flex;
    flex-flow: column;
    padding: 30px 0;
    
}

.flex-container-contact form label{
    color: white;
    font-size: 20px;
}

.flex-container-contact form input,
.flex-container-contact form textarea{
    width: 900px;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}

.flex-container-contact form button{
    padding: 20px 60px;
    margin-top: 20px;
    height: 70px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 550;
    border: none;
    color: white;
    background-color: #862ACD;
    transition: all 300ms ease;
}


.flex-container-contact form button:hover {
    border: 2px solid;
    border-radius: 8px;
    height: 70px;
    background: none;
    border: 3px solid #862ACD;
    cursor: pointer;
    color:#862ACD;
  }